@import "tailwindcss";

@theme inline {
  /* Colores principales */
  --color-background: #1e2159;
  --color-foreground: #f2f2f2;
  --color-primary: #c4d977;
  --color-secondary: #635ef2;
  --color-accent: #252273;

  /* Fuentes */
  --font-roboto: "Roboto", system-ui, sans-serif;
  --font-bungee: "Bungee", system-ui, sans-serif;
}

@layer base {
  * {
    @apply text-foreground;
  }

  body {
    @apply bg-[linear-gradient(180deg,var(--color-background)_0%,var(--color-accent)_50%,var(--color-secondary)_100%)] font-roboto;
  }
}

button,
a {
  @apply cursor-pointer active:scale-97 transition-transform;
}

/* modifica el boton de borrar por defecto de la barra de busqueda */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  background: url("/circle-x.png") no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

/* estrecha la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px;
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 5px;
}
