@import "tailwindcss";

:root {
  /* Mis variables */
  --background: #1e2159;
  --foreground: #f2f2f2;
  --main: #c4d977;
  --color1: #635ef2;
  --color2: #252273;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main);
  --color-color1: var(--color1);
  --color-color2: var(--color2);

  --font-bungee: var(--font-bungee);
  --font-sans: var(--font-system);
}

@layer base {
  body {
    @apply bg-[linear-gradient(180deg,var(--background)_0%,var(--color2)_50%,var(--color1)_100%)] text-foreground;
  }
}

button,
a {
  @apply cursor-pointer active:scale-97 transition-transform;
}

/* modifica el boton de borrar por defecto de la barra de busqueda */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  background: url("/circle-x.png") no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

/* estrecha la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-color1);
  border-radius: 5px;
}


